body{
  font-family: sans-serif;

}

.product-container{
  border: solid 5px orangered;


  background-color: orangered;

  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 10px;

padding: 50px;

}

.text-detail{
  border: solid 0px white;
  background-color: white;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 80px;

}

.shop-shoes{
  border: solid 5px #FFF6F5;
  background-color: #FFF6F5;
  text-align: center;

  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 0px;
  margin-left: 10px;

  padding: 0

}


.footer {
  border: solid 5px white;
  background-color: white;

  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 0px;
  margin-left: 10px;

  padding: 0
}
